:root {
    --maingray: #F0F4F9;
    --secgray: #E6EAF1;
    --textgray: #808080;
    --sectext: #585858;
}

.sidebar {
    background-color: var(--maingray);
    min-height: 100vh;
    display: inline-flex;
}

.sidebar-icon {
    width: 20px;
}
.recent-msg{
    width: 100%;
}

.newchat {
    margin-top: 2.5rem;
    width: 60%;
    background-color: var(--secgray);
}

.newchat p {
    color: var(--textgray);
    font-size: 14px;
}

.recent-msg:hover,
.bottom-box:hover {
    background-color: var(--secgray);
}

.sidebar-icon,
.newchat,
.recent-msg,
.bottom-box,
.inputicon,
.qcard {
    cursor: pointer;
}

.extentedmenu {
    width: 18%;
}
.chat{
    width: 82%;
}

.usericon {
    width: 40px;
}
.usermsg{
    color: rgb(25, 25, 139);
    font-size: 18px;
}

.navbar p {
    color: var(--sectext);
}

.greeting {
    font-size: 56px;
    color: #C4C7C5;
    font-weight: 600;
}

.greeting span {
    background: -webkit-linear-gradient(16deg, #4b90ff, #ff5546);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cards, .greet{
    width: 75%;
}
.card-icon {
    width: 18%;
}

.cards .qcard {
    min-height: 200px;
}

.qcard p {
    font-size: 17px;
    color: var(--sectext);
}

.qcard {
    background-color: var(--maingray);
}

.qcard:hover {
    background-color: #DFE4EA;
}

.inputq,
.inputq input {
    background-color: var(--maingray);
    font-size: 18px;
}

.inputq {
    width: 70%;
}
.footer{
    width: 100%;

}
.inputq input:focus{
    border: none;
    outline: none;
}

.inputicon {
    width: 25px;
}
.res-icon{
    width: 40px;
}
.loader{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.result p, .Qtitle p{
    font-size: 17px;
    line-height: 1.8;
}

.result-box{
    max-height: 65vh;
    overflow-y: scroll;
    width: 70%;
}
.result-box::-webkit-scrollbar{
    display: none;
}
.loader hr{
    margin: 0;
    border: none;
    border-radius: 5px;
    background-color: #f6f7f8;
    background: linear-gradient(to right,#9ed7ff,#ffffff,#9ed7ff);
    background-size: 800px 30px;
    height: 20px;
    animation: loader 3s infinite linear;
}
@keyframes loader{
    0%{
        background-position: -800px 0;
    }
    100%{
        background-position: 800px 0;
    }
}

@media(min-width:992px) {
    .cards .qcard {
        width: 21% !important;
    }
}

@media((min-width:768px) and (max-width:992px)) {
    .cards .qcard {
        width: 31% !important;
    }
} 
@media(max-width:750px){
    .sidebar{
        display: none !important;
    }
    .cards,.inputq,.greet{
        width: 90% ;
    }
    .result-box{
        width: 90%;
    }
}
@media(max-width:573px){
    .inputicon {
        width: 20px;
        height: 25px;
    }
    .res-icon{
        width: 30px;
    }
    .card-icon{
        width: 13%;
    }
    .cards .qcard {
        min-height: 180px;
    }
    .greeting{
        font-size: 50px;
    }
}
@media(max-width:400px){
    .inputq input::placeholder{
        font-size: 16px;
    }
    .footer p{
        font-size: 15px;
    }
    .greeting{
        font-size: 45px;
    }
}